<!-- https://github.com/coreos/fedora-coreos-browser -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- PROD: <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
        <!-- DEVEL: <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <style>a.js {cursor: pointer; color: blue; text-decoration: underline;}</style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <title>Red Hat CoreOS Prod Build Browser</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="."><img src="https://getfedora.org/static/images/logo-inline-coreos.png"/></a>
            </div>
        </nav>

        <!-- Main content -->
        <section class="section">
            <div id="app">
            <div class="container">
                <div class="columns">
                    <div class="column is-three-quarters">
                        <!-- Builds list -->
                        <nav class="panel is-info">
                            <p class="panel-heading has-text-centered">Builds</p>
                            <div class="panel-block">
                                <div v-if="loading">
                                    Loading...
                                </div>
                                <div v-else-if="builds.length > 0">
                                    <div v-for="build in builds">
                                        <div class="content">
                                            Version: <span style="font-weight: bold">{{ build.id }}</span>
                                            <span v-if="build.meta" v-bind:title="build.meta['coreos-assembler.build-timestamp']">
                                                — {{ timeSince(build.meta['coreos-assembler.build-timestamp']) }}
                                            </span>
                                        </div>
                                        <div v-if="build.meta" style="margin-left: 1em">
                                            <div class="content">
                                                Metadata:
                                                <ul>
                                                    <li> OS Commit: <a v-bind:href="'https://github.com/openshift/os/commit/' + build.meta['coreos-assembler.config-gitrev']">{{ build.meta['coreos-assembler.config-gitrev'] }}</a></li>
                                                    <li> COSA Commit: <a v-bind:href="'https://github.com/coreos/coreos-assembler/commit/' + build.meta['coreos-assembler.container-image-git']['commit']">{{ build.meta['coreos-assembler.container-image-git']['commit'] }}</a></li>
                                                    <li> Raw: <a v-bind:href="getObjectUrl(build, 'meta.json')">meta.json</a> <a v-bind:href="getObjectUrl(build, 'commitmeta.json')">commitmeta.json</a></li>
                                                </ul>
                                            </div>
                                            <div class="content">
                                                OSTree:
                                                <ul>
                                                    <li>Commit: {{ build.meta['ostree-commit'] }}
                                                        (<a v-bind:href="getOSTreeUrl(build)">download</a>)
                                                    </li>
                                                    <li v-if="build.meta['fedora-coreos.parent-commit']">
                                                        Parent Commit: {{ build.meta['fedora-coreos.parent-commit'] }} ({{ build.meta['fedora-coreos.parent-version'] }})
                                                    </li>
                                                    <li v-if="build.commitmeta">Packages: (<a class="js" v-on:click="build.commitmeta.showImportantPkgsOnly = !build.commitmeta.showImportantPkgsOnly">{{ build.commitmeta.showImportantPkgsOnly ? "expand" : "collapse" }}</a>)
                                                        <ul v-if="build.commitmeta.showImportantPkgsOnly">
                                                            <li v-for="pkg in build.commitmeta.importantPkgs">
                                                                {{ getPkgNevraFull(pkg) }}
                                                            </li>
                                                        </ul>
                                                        <ul v-else>
                                                            <li v-for="pkg in build.commitmeta['rpmostree.rpmdb.pkglist']">
                                                                {{ getPkgNevraFull(pkg) }}
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div v-if="build.meta.pkgdiff" class="content">
                                                    <div v-if="build.meta.pkgdiff.added.length > 0" class="content">
                                                        <p>Added:</p>
                                                        <ul>
                                                            <li v-for="pkg in build.meta.pkgdiff.added">
                                                                {{ getPkgNevra(pkg[2]["NewPackage"]) }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div v-if="build.meta.pkgdiff.removed.length > 0" class="content">
                                                        <p>Removed:</p>
                                                        <ul>
                                                            <li v-for="pkg in build.meta.pkgdiff.removed">
                                                                {{ getPkgNevra(pkg[2]["PreviousPackage"]) }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div v-if="build.meta.pkgdiff.upgraded.length > 0" class="content">
                                                        <p>Upgraded:</p>
                                                        <ul>
                                                            <li v-for="pkg in build.meta.pkgdiff.upgraded">
                                                                {{ pkg[2]["PreviousPackage"][0] }} {{ getPkgEvra(pkg[2]["PreviousPackage"]) }} → {{ getPkgEvra(pkg[2]["NewPackage"]) }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div v-if="build.meta.pkgdiff.downgraded.length > 0" class="content">
                                                        <p>Downgraded:</p>
                                                        <ul>
                                                            <li v-for="pkg in build.meta.pkgdiff.downgraded">
                                                                {{ pkg[2]["PreviousPackage"][0] }} {{ getPkgEvra(pkg[2]["PreviousPackage"]) }} → {{ getPkgEvra(pkg[2]["NewPackage"]) }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                            </div>
                                            <div v-if="'advisories-diff' in build.meta && build.meta['advisories-diff'].length > 0" class="content">
                                                SecAdvisories:
                                                <ul>
                                                    <li v-for="adv in build.meta['advisories-diff']">
                                                        <span v-html="createAdvisoryUrl(adv[0])"></span> <span v-if="adv[2] > 0">({{ advisorySeverityType[adv[2]] }} severity)</span>
                                                        <ul>
                                                            <li>
                                                                Packages:
                                                                <ul>
                                                                    <li v-for="pkg in adv[3]">
                                                                        {{ pkg }}
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li v-if="'cve_references' in adv[4] && adv[4]['cve_references'].length > 0">
                                                                CVEs:
                                                                <ul>
                                                                    <li v-for="cve in adv[4]['cve_references']">
                                                                        <span v-html="createCveUrl(cve)"></span>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="content">
                                                Images:
                                                <ul>
                                                    <li v-if="'aliyun' in build.meta.images">
                                                        Aliyun (Alibaba Cloud): <span v-html="getImageUrl(build, 'aliyun')"></span>
                                                    </li>
                                                    <li v-if="'aws' in build.meta.images">
                                                        AWS: <span v-html="getImageUrl(build, 'aws')"></span>
                                                    </li>
                                                    <li v-if="'azure' in build.meta.images">
                                                        Azure: <span v-html="getImageUrl(build, 'azure')"></span>
                                                    </li>
                                                    <li v-if="'azurestack' in build.meta.images">
                                                        Azure Stack: <span v-html="getImageUrl(build, 'azurestack')"></span>
                                                    </li>
                                                    <li v-if="'digitalocean' in build.meta.images">
                                                        DigitalOcean: <span v-html="getImageUrl(build, 'digitalocean')"></span>
                                                    </li>
                                                    <li v-if="'exoscale' in build.meta.images">
                                                        Exoscale: <span v-html="getImageUrl(build, 'exoscale')"></span>
                                                    </li>
                                                    <li v-if="'extensions-container' in build.meta.images">
                                                        Extensions Container: <span v-html="getImageUrl(build, 'extensions-container')"></span>
                                                    </li>
                                                    <li v-if="'gcp' in build.meta.images">
                                                        GCP: <span v-html="getImageUrl(build, 'gcp')"></span>
                                                    </li>
                                                    <li v-if="'ibmcloud' in build.meta.images">
                                                        IBM Cloud: <span v-html="getImageUrl(build, 'ibmcloud')"></span>
                                                    </li>
                                                    <li v-if="'kubevirt' in build.meta.images">
                                                        KubeVirt: <span v-html="getImageUrl(build, 'kubevirt')"></span>
                                                    </li>
                                                    <li v-if="'legacy-oscontainer' in build.meta.images">
                                                        Legacy OSContainer: <span v-html="getImageUrl(build, 'legacy-oscontainer')"></span>
                                                    </li>
                                                    <li v-if="'live-iso' in build.meta.images">
                                                        Live ISO: <span v-html="getImageUrl(build, 'live-iso')"></span>
                                                    </li>
                                                    <li v-if="'live-kernel' in build.meta.images">
                                                        Live Kernel: <span v-html="getImageUrl(build, 'live-kernel')"></span>
                                                    </li>
                                                    <li v-if="'live-initramfs' in build.meta.images">
                                                        Live Initramfs: <span v-html="getImageUrl(build, 'live-initramfs')"></span>
                                                    </li>
                                                    <li v-if="'live-rootfs' in build.meta.images">
                                                        Live Rootfs: <span v-html="getImageUrl(build, 'live-rootfs')"></span>
                                                    </li>
                                                    <li v-if="'metal' in build.meta.images">
                                                        Metal: <span v-html="getImageUrl(build, 'metal')"></span>
                                                    </li>
                                                    <li v-if="'metal4k' in build.meta.images">
                                                        Metal (4k Native): <span v-html="getImageUrl(build, 'metal4k')"></span>
                                                    </li>
                                                    <li v-if="'nutanix' in build.meta.images">
                                                        Nutanix: <span v-html="getImageUrl(build, 'nutanix')"></span>
                                                    </li>
                                                    <li v-if="'openstack' in build.meta.images">
                                                        OpenStack: <span v-html="getImageUrl(build, 'openstack')"></span>
                                                    </li>
                                                    <li v-if="'powervs' in build.meta.images">
                                                        PowerVS: <span v-html="getImageUrl(build, 'powervs')"></span>
                                                    </li>
                                                    <li v-if="'qemu' in build.meta.images">
                                                        QEMU: <span v-html="getImageUrl(build, 'qemu')"></span>
                                                    </li>
                                                    <li v-if="'virtualbox' in build.meta.images">
                                                        VirtualBox: <span v-html="getImageUrl(build, 'virtualbox')"></span>
                                                    </li>
                                                    <li v-if="'vmware' in build.meta.images">
                                                        VMware: <span v-html="getImageUrl(build, 'vmware')"></span>
                                                    </li>
                                                    <li v-if="'vultr' in build.meta.images">
                                                        Vultr: <span v-html="getImageUrl(build, 'vultr')"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div v-if="'aliyun' in build.meta" class="content">
                                                Aliyun (Alibaba Cloud) Images:
                                                <ul>
                                                    <li v-for="image in build.meta.aliyun">
                                                        {{ image["name"] }}: {{ image["id"] }}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div v-if="'amis' in build.meta" class="content">
                                                AMIs:
                                                <ul>
                                                    <li v-for="ami in build.meta.amis">
                                                        {{ ami["name"] }}: {{ ami["hvm"] }}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div v-if="'gcp' in build.meta" class="content">
                                                GCP:
                                                <ul>
                                                    <li>Project: {{ build.meta.gcp.project }}</li>
                                                    <li>Family: {{ build.meta.gcp.family }}</li>
                                                    <li>Image: {{ build.meta.gcp.image }}</li>
                                                </ul>
                                            </div>
                                            <hr>
                                        </div>
                                        <div v-else-if="!build.arches.includes(arch)" style="margin-left: 1em">
                                            <div class="content">
                                                Not available on architecture {{ arch }}.
                                            </div>
                                            <hr>
                                        </div>
                                        <div v-else style="margin-left: 1em">
                                            <div class="content">
                                                Loading...
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                    <div v-if="unshown_builds.length > 0">
                                    <p>
                                        Hiding <span style="font-weight: bold">{{ unshown_builds.length }}</span> older builds
                                        (load <a class="js" v-if="unshown_builds.length > 5" v-on:click="loadMoreBuilds(5)">5</a>
                                            <a class="js" v-if="unshown_builds.length > 10" v-on:click="loadMoreBuilds(10)">10</a>
                                            <a class="js" v-on:click="loadMoreBuilds(-1)">all</a>)
                                    </p>
                                    </div>
                                </div>
                                <div v-else>
                                    No builds found!
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="column is-one-quarter">
                        <nav class="tile is-ancestor is-parent is-vertical">
                            <!-- Caution panel -->
                            <div class="tile is-vertical is-12 is-child">
                                <nav class="panel is-danger">
                                    <p class="panel-heading has-text-centered">⚠️ Caution ⚠️</p>
                                    <div class="panel-block">
                                        <p>
                                        These artifacts represent output coming straight from the pipeline. They may
                                        not function.
                                        <br />
                                        If you're looking for the latest <b>supported</b> Fedora
                                        CoreOS artifacts, please go to the
                                        <a href="https://getfedora.org/en/coreos/download/">official download page</a>.
                                        </p>
                                    </div>
                                </nav>
                            </div>
                            <!-- Stream selector -->
                            <div class="tile is-vertical is-12 is-child">
                                <nav class="panel is-danger">
                                    <p class="panel-heading has-text-centered">Stream</p>
                                    <div class="panel-block">
                                        <div class="field has-addons">
                                            <p class="control">
                                                <span class="select">
                                                    <select v-model="stream">
                                                        <option v-for="streamItem in streamList" :value="streamItem">{{ streamItem }}</option>
                                                    </select>
                                                </span>
                                                <input v-model="developer" v-if="stream == 'developer'">
                                            </p>
                                            <p class="control">
                                                <button class="button is-light" v-on:click="refreshBuilds">Refresh</button>
                                            </p>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                            <!-- Arch selector -->
                            <div class="tile is-vertical is-12 is-child">
                                <nav class="panel is-danger">
                                    <p class="panel-heading has-text-centered">Architecture</p>
                                    <div class="panel-block">
                                        <div class="field has-addons">
                                            <p class="control">
                                                <span class="select">
                                                    <select v-model="arch">
                                                        <option v-for="archItem in archList" :value="archItem">{{ archItem }}</option>
                                                    </select>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <script>
            const baseProdUrl = 'https://releases-rhcos-art.apps.ocp-virt.prod.psi.redhat.com/storage/prod/streams'

            const initialBuildsShown = 5;

            // pkgdiff enum to str
            const diffType = ["added", "removed", "upgraded", "downgraded"];
            const importantPkgs = ["kernel", "systemd", "rpm-ostree", "ignition", "podman", "moby-engine", "containerd"];

            // RpmOstreeAdvisorySeverity enum to str
            const advisorySeverityType = ["none", "low", "moderate", "important", "critical"];

            function getBaseUrl(stream, developer) {
                return `${baseProdUrl}/${stream}`
            }

            function createAdvisoryUrl(id) {
                return `<a href="https://bodhi.fedoraproject.org/updates/${id}">${id}</a>`;
            }

            function createCveUrl(cve) {
                return `<a href="${cve[0]}">${cve[1]}</a>`;
            }

            function getArtifactUrl(base, build, arch, path) {
                return `${base}/${build.id}/${arch}/${path}`;
            }

            function fetchBuilds(base) {
                return fetch(`${base}/builds.json`)
                    .then(response => response.ok ? response.json() : {"builds": []})
                    .then(data => {
                            return data.builds.map(build => ({
                                'id': build.id,
                                'arches': build.arches,
                                'meta': null,
                                'metas': {},
                                'commitmeta': null,
                                'commitmetas': {},
                            }));
                    });
            }

            function sortPkgDiff(meta) {
                if ("pkgdiff" in meta) {
                    var newdiff = {};
                    diffType.forEach(t => newdiff[t] = []);
                    meta["pkgdiff"].forEach(d => newdiff[diffType[d[1]]].push(d));
                    meta["pkgdiff"] = newdiff;
                }
            }

            function findImportantPkgs(commitmeta) {
                var r = [];
                commitmeta["rpmostree.rpmdb.pkglist"].forEach(pkg => {
                    if (importantPkgs.includes(pkg[0])) {
                        r.push(pkg);
                    }
                });
                return r;
            }

            function fetchBuild(base, build, arch) {
                // is that arch even available for this build?
                if (!build.arches.includes(arch)) {
                    build.meta = null;
                    build.commitmeta = null;
                    return;
                }
                // did we fetch it already?
                if (arch in build.commitmetas) {
                    build.meta = build.metas[arch];
                    build.commitmeta = build.commitmetas[arch];
                    return;
                }
                // fetch it
                fetchBuildMeta(base, build, arch).then(meta => {
                    sortPkgDiff(meta);
                    // show the build metadata
                    build.meta = meta;
                    build.metas[arch] = meta;
                    // and fetch extra commit metadata in async
                    fetchBuildCommitMeta(base, build, arch).then(commitmeta => {
                        commitmeta["importantPkgs"] = findImportantPkgs(commitmeta);
                        commitmeta["showImportantPkgsOnly"] = true;
                        build.commitmeta = commitmeta;
                        build.commitmetas[arch] = commitmeta;
                    });
                });
            }

            function fetchBuildMeta(base, build, arch) {
                return fetch(`${base}/${build.id}/${arch}/meta.json`)
                    .then(response => response.ok ? response.json() : {});
            }

            function fetchBuildCommitMeta(base, build, arch) {
                return fetch(`${base}/${build.id}/${arch}/commitmeta.json`)
                    .then(response => response.ok ? response.json() : {});
            }

            function copyToClipboard(text) {
                navigator.clipboard.writeText(text);
            }

            var app = new Vue({
                el: '#app',
                data: {
                    // source of truth for streams; ideally this would come from some higher-level source of truth
                    streamList: ['4.13', '4.12', '4.11', '4.10', '4.9', '4.8', '4.7', '4.6'],
                    // source of truth for arches; ideally this would come from aggregating builds.json
                    archList: ['x86_64', 'aarch64', 'ppc64le', 's390x'],
                    // currently selected stream
                    stream: '4.13',
                    // currently selected architecture
                    arch: 'x86_64',
                    // if current stream is "developer", currently entered developer
                    developer: "",
                    // current url to builds/ dir for stream
                    buildsUrl: "",
                    // list of {id, arches, meta, commitmeta} build objects
                    builds: [],
                    // list of unshown {id, arches, meta, commitmeta} build objects
                    unshown_builds: [],
                    // toggles "Loading..."
                    loading: false
                },
                created: function() {
                    let searchParams = new URLSearchParams(window.location.search);
                    let updateHistory = false;
                    if (searchParams.has('stream')) {
                        const queryStream = searchParams.get('stream');
                        if (this.streamList.includes(queryStream)) {
                            this.stream = queryStream;
                        } else {
                            searchParams.set('stream', this.stream);
                            updateHistory = true;
                        }
                    }
                    if (searchParams.has('arch')) {
                        const queryArch = searchParams.get('arch');
                        if (this.archList.includes(queryArch)) {
                            this.arch = queryArch;
                        } else {
                            searchParams.set('arch', this.arch);
                            updateHistory = true;
                        }
                    }
                    if (updateHistory) {
                        history.replaceState(null, null, `${window.location.origin + window.location.pathname}?${searchParams.toString()}`);
                    }

                    this.refreshBuilds();
                    },
                watch: {
                    stream() {
                        this.updateURL();
                        this.refreshBuilds();
                    },
                    arch() {
                        this.updateURL();
                        this.refreshArch();
                    }
                },
                methods: {
                    updateURL: function() {
                        history.replaceState(null, null, `${window.location.origin + window.location.pathname}?stream=${this.stream}&arch=${this.arch}`);
                    },
                    refreshBuilds: function() {
                        this.loading = true
                        this.buildsUrl = getBaseUrl(this.stream, this.developer) + "/builds"
                        fetchBuilds(this.buildsUrl).then(builds => {
                            // first populate and show the build list
                            this.loading = false;
                            this.builds = [];
                            this.unshown_builds = [];

                            // and now fetch each build info async
                            builds.forEach((build, idx) => {
                                if (idx < initialBuildsShown) {
                                    this.builds.push(build);
                                    fetchBuild(this.buildsUrl, build, this.arch);
                                } else {
                                    this.unshown_builds.push(build);
                                }
                            })
                        });
                    },
                    refreshArch: function() {
                        this.builds.forEach((build, idx) => {
                            fetchBuild(this.buildsUrl, build, this.arch);
                        });
                    },
                    loadMoreBuilds: function(n) {
                        var unshown_builds = this.unshown_builds;
                        this.unshown_builds = []
                        unshown_builds.forEach((build, idx) => {
                            if (n < 0 || idx < n) {
                                this.builds.push(build);
                                fetchBuild(this.buildsUrl, build, this.arch);
                            } else {
                                this.unshown_builds.push(build);
                            }
                        })
                    },
                    getImageUrl: function(build, type) {
                        var path = build.meta['images'][type]['path'];
                        var url = getArtifactUrl(this.buildsUrl, build, this.arch, path);
                        return `<a href="${url}">${path}</a> ` +
                            `(<a title="Copy image link to clipboard" class="js"
                                 onclick="copyToClipboard('${url}')">copy link</a>)`;
                    },
                    getObjectUrl: function(build, path) {
                        return getArtifactUrl(this.buildsUrl, build, this.arch, path);
                    },
                    getOSTreeUrl: function(build) {
                        if ('ostree' in build.meta['images']) {
                            var path = build.meta['images']['ostree']['path'];
                            return getArtifactUrl(this.buildsUrl, build, this.arch, path);
                        }
                        return this.getObjectUrl(build, "ostree-commit.tar")
                    },
                    getPkgNevra: function(tuple) {
                        return `${tuple[0]}-${tuple[1]}.${tuple[2]}`;
                    },
                    getPkgNevraFull: function(tuple) {
                        if (tuple[1] != 0) {
                            return `${tuple[0]}-${tuple[1]}:${tuple[2]}-${tuple[3]}.${tuple[4]}`;
                        }
                        return `${tuple[0]}-${tuple[2]}-${tuple[3]}.${tuple[4]}`;
                    },
                    getPkgEvra: function(tuple) {
                        return `${tuple[1]}.${tuple[2]}`;
                    },
                    // Adapted from https://stackoverflow.com/a/6109105
                    timeSince: function(rfc3339_timestamp) {
                        var current = Date.now();
                        var timestamp = Date.parse(rfc3339_timestamp);
                        var elapsed = current - timestamp;

                        var msPerMinute = 60 * 1000;
                        var msPerHour = msPerMinute * 60;
                        var msPerDay = msPerHour * 24;
                        var msPerMonth = msPerDay * 30;
                        var msPerYear = msPerDay * 365;

                        function stringize(n, s) {
                            return n + ` ${s}` + (n == 1 ? "" : "s") + ' ago';
                        };

                        if (elapsed < msPerMinute) {
                             return stringize(Math.floor(elapsed/1000), "second");
                        } else if (elapsed < msPerHour) {
                             return stringize(Math.floor(elapsed/msPerMinute), "minute");
                        } else if (elapsed < msPerDay) {
                             return stringize(Math.floor(elapsed/msPerHour), "hour");
                        } else if (elapsed < msPerMonth) {
                            return stringize(Math.floor(elapsed/msPerDay), "day");
                        } else if (elapsed < msPerYear) {
                            return stringize(Math.floor(elapsed/msPerMonth), "month");
                        } else {
                            return stringize(Math.floor(elapsed/msPerYear), "year");
                        }
                    }
                }
            })
        </script>
    </body>
</html>
